@charset "UTF-8";
/* main.scss*/
/* @import  */
/*=====================================================================*/
/*------------------- << _reset: Estilos Básicos >> -------------------*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  transition: var(--transition);
}

html {
  height: 100vh;
}

body {
  height: 100%; /* 100% del padre, que es el html*/
}

/*===================================================================*/
/*--------------------- << _fonts: Fuentes >> -----------------------*/
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Italic-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 500;
  font-style: italic;
}
.lora-i-n, .balance__filtros-titulo h2, .balance__cont-balance h2, .section-categ div .categ-tit-img h2, main .cont-main .section-x div h2, .tamanio-frase, .footer__h3, .header__cont-nav, .header__titulo-ada h1 {
  font-family: "Lora";
  font-style: italic;
  font-weight: normal;
}

.montserrat-n-n, body {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
}

/*====================================================================*/
/*--------------- << _variables: Variables globales >> ---------------*/
:root {
  /* Modo claro*/
  --colPpal: #cddbff;
  --colSec: #9aade5;
  --colTer: #bfccf5;
  --colHoverBtn: #f2f9ff;
  --colFondoMain: rgb(232, 241, 255);
  --colFuente: #111827; /*  gray 900*/
  --colTituloPpal: #fcc656;
  --colVerde: rgb(34, 100, 34);
  --colRojo: rgb(178, 59, 59);
  color-scheme: light; /*color por defecto de win, para barras de scroll*/
  --transition: color 0.1s, background-color 0.2s ease-in-out;
  --md: 768;
}

:root[data-theme-color=dark] {
  /* Modo oscuro*/
  --colSec: #1f2937; /*grey  800 */
  --colPpal: #575d66; /* ERA grey 700 cambié */
  --colTer: #797e85; /* */
  --colHoverBtn: #6b7280; /*grey  500 */
  --colFondoMain: #9ca3af; /*grey  400 */
  --colFuente: #f4f4f5; /*  gray 100*/
  --colTituloPpal: #fcc656;
  --colVerde: rgb(20, 54, 20);
  --colRojo: rgb(58, 20, 20);
  color-scheme: dark; /*color por defecto de win, para barras de scroll*/
}

/*====================================================================*/
/*-------------------------- << MIXINS  >> ---------------------------*/
/*====================================================================*/
/*-------------------------  << HEADER  >> ---------------------------*/
.header {
  width: 100%;
  height: auto;
  background-color: var(--colSec);
  display: flex;
  flex-direction: column;
}
.header__cont-titulo {
  color: var(--colFuente);
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
}
.header__titulo-ada {
  width: 70%;
  height: 80px;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__titulo-ada h1 {
  margin-left: 10px;
  font-size: 2rem;
  color: var(--colTituloPpal);
}
.header__cont-der {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.header__modo {
  margin: 0px 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--colSec);
  width: 35px;
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.header__cont-menu-hamb {
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.header__menu-hamb {
  margin: 0px 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--colSec);
  width: 35px;
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.header__menu-hamb.ocultar {
  display: none;
}
.header__modo:hover, .header__menu-hamb:hover {
  background-color: var(--colHoverBtn);
}
.header__nav {
  width: 100%;
  display: none;
  justify-content: flex-end;
  margin-right: 15px;
  background-color: var(--colTer);
}
.header__cont-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__nav-a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--colFuente);
  font-size: 1rem;
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}
.header__nav-a-span {
  padding-right: 5px;
  font-size: 1rem;
}
.header .header__nav-a:hover {
  font-weight: bold;
}
.header .header__nav-a:hover .header__nav-a-span {
  font-weight: bold;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .header__cont-titulo {
    width: 30;
  }
  .header__titulo-ada {
    font-size: 2.4rem;
  }
  .header__titulo-ada h1 {
    font-size: 2.4rem;
  }
  .header__cont-der {
    width: 100%;
  }
  .header__cont-menu-hamb {
    display: none;
  }
  .header__nav {
    width: 70%;
    background-color: var(--colSec);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .header__cont-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2rem;
  }
}
/*====================================================================*/
/*-------------------------  << FOOTER  >> ---------------------------*/
.color-fuente, .footer__h3, .footer__link-red-social {
  color: var(--colFuente);
  font-size: 1.1rem;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: var(--colSec);
  text-align: center;
}
.footer__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer__link-red-social {
  width: 60px;
  margin: 10px 0px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer__icono-red-social {
  color: var(--colFuente);
  background-color: var(--colSec);
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.2rem;
  border: 1px solid var(--colFuente);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer__icono-red-social:hover {
  color: var(--colSec);
  background-color: var(--colFuente);
}
.footer__span {
  color: var(--colRojo);
  font-size: 1rem;
  font-weight: bold;
}

/*====================================================================*/
/*--------------------------  << HOME  >>  ---------------------------*/
body {
  background-color: var(--colFondoMain);
  min-height: 100%;
  font-family: "Montserrat";
}

.ocultar {
  display: none;
}

.mostrar {
  display: flex;
}

.tamanio-frase {
  font-size: clamp(1rem, -0.0698rem + 3.0387vw, 1.875rem);
  line-height: 2.25rem;
}

main {
  min-height: calc(100% - 80px - 80px);
  display: flex;
  justify-content: center;
}
main .cont-main {
  color: var(--colFuente);
  width: 100%;
  max-width: 992px;
}
main .cont-main .section-x {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--colTer);
  box-shadow: 8px 8px 5px -8px rgb(164, 163, 163);
  width: 90%;
  height: 96%;
}
main .cont-main .section-x div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .cont-main .section-x div .img-inicio {
  width: 80%;
}
main .cont-main .section-x div .img-reporte {
  width: 70%;
}

/*====================================================================*/
/*------------------ << Menú Categorías  >> -------------------------*/
.section-categ {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--colTer);
  box-shadow: 8px 8px 5px -8px rgb(164, 163, 163);
  width: 90%;
  height: 96%;
}
.section-categ div {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-categ div .categ-tit-img {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.section-categ div .categ-tit-img h2 {
  font-size: 2rem;
  width: 85%;
}
.section-categ div .categ-tit-img img {
  width: 10%;
}
.section-categ div .categ-form-crud {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-categ div .categ-form-crud .form {
  width: 100%;
}
.section-categ div .categ-form-crud .form .div-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border: 5px double var(--colSec);
}
.section-categ div .categ-form-crud .form .div-form .input {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.section-categ div .categ-form-crud .form .div-form .input input {
  background-color: var(--colFondoMain);
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 0.9rem;
  height: 35px;
  padding-left: 6px;
}
.section-categ div .categ-form-crud .form .div-form .btn-can-acep {
  flex-direction: row;
}
.section-categ div .categ-form-crud .form .div-form .btn-can-acep button {
  margin: 0px 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--colFondoMain);
  width: 40px;
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.section-categ div .categ-form-crud .form .div-form .btn-can-acep .agr {
  color: var(--colVerde);
  display: flex;
}
.section-categ div .categ-form-crud .form .div-form .btn-can-acep .edi {
  color: var(--colVerde);
  display: none;
}
.section-categ div .categ-form-crud .form .div-form .btn-can-acep .del {
  color: var(--colRojo);
}
.section-categ div .categ-form-crud .mns-input-cat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 15px;
  padding-left: 15px;
  color: var(--colVerde);
  font-size: 0.8rem;
}
.section-categ div .categ-form-crud .categ-tabla {
  width: 100%;
  border: 5px double var(--colSec);
  margin-bottom: 30px;
}
.section-categ div .categ-form-crud .categ-tabla .categ-tabla-titulo {
  backdrop-filter: sepia(20%);
  width: 100%;
  height: 27px;
  border-bottom: 1px solid var(--colSec);
  display: flex;
  flex-direction: row;
}
.section-categ div .categ-form-crud .categ-tabla .categ-tabla-titulo .categ-nombre {
  display: flex;
  justify-content: center;
  width: 70%;
}
.section-categ div .categ-form-crud .categ-tabla .categ-tabla-titulo .categ-acciones {
  display: flex;
  justify-content: center;
  width: 30%;
}
.section-categ div .categ-form-crud .categ-tabla .categ-tabla-listado {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 40vh;
  min-height: 40vh;
  overflow-y: auto;
  width: 100%;
}
.section-categ div .categ-form-crud .categ-tabla .categ-tabla-listado .categ-tabla-fila {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 27px;
}
.section-categ div .categ-form-crud .categ-tabla .categ-tabla-listado .categ-tabla-fila .categ-tabla-nombres {
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  width: 70%;
}
.section-categ div .categ-form-crud .categ-tabla .categ-tabla-listado .categ-tabla-fila .categ-tabla-iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
  gap: 20px;
}
.section-categ div .categ-form-crud .categ-tabla .categ-tabla-listado .categ-tabla-fila .categ-tabla-iconos .edi {
  color: var(--colVerde);
  cursor: pointer;
}
.section-categ div .categ-form-crud .categ-tabla .categ-tabla-listado .categ-tabla-fila .categ-tabla-iconos .del {
  color: var(--colRojo);
  cursor: pointer;
}
.section-categ div .categ-form-crud .categ-tabla .categ-tabla-listado .categ-tabla-fila .categ-tabla-iconos .edi:hover,
.section-categ div .categ-form-crud .categ-tabla .categ-tabla-listado .categ-tabla-fila .categ-tabla-iconos .del:hover {
  filter: drop-shadow(16px 16px 20px var(--colSec)) invert(75%);
}
.section-categ div .categ-form-crud .categ-tabla .categ-tabla-listado .categ-tabla-fila:hover {
  backdrop-filter: sepia(20%);
}
@media (min-width: 768px) {
  .section-categ div {
    font-size: 1rem;
  }
  .section-categ div .categ-form-CRUD {
    width: 80%;
  }
}

.balance {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--colTer);
  box-shadow: 8px 8px 5px -8px rgb(164, 163, 163);
  width: 90%;
  height: 96%;
}
.balance__cont-bal-fil {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.balance__cont-balance {
  display: flex;
  flex-direction: column;
  margin: 4px;
}
.balance__cont-balance h2 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.balance__balance-numeros {
  font-weight: 0.8rem;
}
.balance__balance-numeros div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}
.balance__balance-numeros div div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 69%;
}
.balance__cont-filtros {
  margin: 4px;
}
.balance__filtros-titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.balance__filtros-titulo h2 {
  font-weight: bold;
  font-size: 1.4rem;
}
.balance__filtros-titulo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 58%;
  font-size: 0.9rem;
}
.balance .cont-sin-con-oper {
  height: auto;
  margin: 4px;
  padding: 5px;
}

@media (min-width: 768px) {
  .section-balance div {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
  }
  .section-balance div .cont-bal-fil {
    display: flex;
    width: 27%;
  }
  .section-balance div .cont-bal-fil .cont-bal {
    width: 100%;
  }
  .section-balance div .cont-bal-fil .cont-bal h2 {
    font-weight: bold;
    font-size: 0.8rem;
  }
  .section-balance div .cont-bal-fil .cont-bal .cont-bal__numeros {
    font-weight: 1rem;
  }
  .section-balance div .cont-bal-fil .con-fil {
    width: 100%;
  }
  .section-balance div .cont-sin-con-oper {
    width: 68%;
  }
}

/*# sourceMappingURL=main.css.map */
