/*====================================================================*/
/*-------------------------  << FOOTER  >> ---------------------------*/
.color-fuente {
	color: var(--colFuente);
	font-size: 1.1rem;
}

footer {
	width: 100%;
	height: 80px;
	background-color: var(--colSec);
	text-align: center;
	nav {
		.nav-cont {
			@include flex-dir-al-jus(flex, row, center, center);

			a {
				width: 60px;
				margin: 10px 0px;
				text-decoration: none;

				@include flex-dir-al-jus(flex, row, center, center);
				@extend .color-fuente;

				i {
					color: var(--colFuente);
					background-color: var(--colSec);

					width: 1.8rem;
					height: 1.8rem;
					font-size: 1.2rem;
					border: 1px solid var(--colFuente);
					border-radius: 50%;

					@include flex-dir-al-jus(flex, row, center, center);
				}
				i:hover {
					color: var(--colSec);
					background-color: var(--colFuente);
				}
			}
		}
	}

	h3 {
		@extend .color-fuente;
		@extend .lora-i-n; //fonts.scss

		span {
			font-size: 1rem;
		}
	}
}
