/*===================================================================*/
/*--------------------- << _fonts: Fuentes >> -----------------------*/
// @font-face se encuentra en style.css, en la raiz del proyecto

.lora-i-n {
	font-family: "Lora";
	font-style: italic;
	font-weight: normal;
}

.montserrat-n-n {
	font-family: "Montserrat";
	font-weight: 500;
	font-style: normal;
}
