// ============= MENÚ BALANCE ===============
.balance {
	@include flex-dir-al-jus(x, column, x, x);

	&__cont-bal-fil {
		@include flex-dir-al-jus(flex, column, center, x);
		width: 100%;
		height: 100%;
	}

	&__cont-balance {
		@include caja(var(--colTer), 95%);
		
		@include flex-dir-al-jus(flex, column, x, x);

		h2 {
			font-weight: bold;
			font-size: 1.4rem;
			margin-bottom: 15px;
			@extend .lora-i-n; //fonts.scss
		}
	}
	&__balance-numeros {
		font-weight: 0.8rem;

		div {
			@include flex-dir-al-jus(flex, row, x, space-between);
			margin-bottom: 5px;
			div {
				@include flex-dir-al-jus(flex, x, center, flex-end);
				width: 69%;
			}
		}
	}

	&__cont-filtros {
		@include caja(var(--colTer), 95%);
	}

	&__filtros-titulo {
		@include flex-dir-al-jus(flex, row, x, space-between);
		margin-bottom: 15px;
		h2 {
			font-weight: bold;
			font-size: 1.4rem;
			@extend .lora-i-n; //fonts.scss
		}
		a {
			@include flex-dir-al-jus(flex, row, center, flex-end);
			width: 58%;
			font-size: 0.9rem;
			text-decoration: none;
			color: var(--colFuente);
			cursor: pointer;
			gap: 5px;
		}
	}

	&__cont-sin-con-oper {
		@include caja(var(--colTer), 95%);
		div {
			@include flex-dir-al-jus(flex, column, x, x);
		}
	}

	.img-js {
		width: 60%;
	}
}

//--------------------------------------------
//$md: "768px" ver en varibales.scss;
@media (min-width: #{$md}px) {
	.balance {
		@include flex-dir-al-jus(flex, row, x, x);
		width: 100%;
		max-width: 1200px;
		&.ocultar{
			display: none;
		}
		
		&__cont-bal-fil {
			@include flex-dir-al-jus(flex, x, x, x);
			width: 40%;

			.cont-bal {
				width: 100%;

				h2 {
					font-weight: bold;
					font-size: 0.8rem;
				}
				.cont-bal__numeros {
					font-weight: 1rem;
				}
			}
			.con-fil {
				width: 100%;
			}
		}

		.cont-sin-con-oper {
			width: 68%;
		}
	}
}
