/* ---------------------------------------------------- */
.section-categ {
	@include caja(var(--colPpal), 90);
	div {
		@include flex-dir-al-jus(flex, column, x, x);

		.categ-tit-img {
			width: 100%;
			@include flex-dir-al-jus(flex, row, x, x);
			h2 {
				@extend .lora-i-n; //fonts.scss
				font-size: 2rem;
				width: 85%;
			}
			img {
				width: 10%;
			}
		}

		.categ-form-CRUD {
			@include flex-dir-al-jus(flex, column, x, x);
			width: 70%;
			form {
				width: 100%;
				margin: 10px;
				.div-form {
					@include flex-dir-al-jus(flex, row, x, space-between);
					padding: 5px 20px;
					border: 5px double var(--colSec);

					.input {
						@include flex-dir-al-jus(flex, row, x, x);
						gap: 10px;
					}

					button {
						@extend .montserrat-n-n; //_fonts.scss
						@include boton(var(--colFondoMain), 80px, false);
					}
				}
			}
		}

		.categ-tabla {
			width: 100%;
			border: 5px double var(--colSec);

			.categ-tabla-titulo {
				width: 100%;
				border-bottom: 1px solid var(--colSec);
				@include flex-dir-al-jus(flex, row, x, x);

				.categ-nombre {
					@include flex-dir-al-jus(flex, x, x, center);
					width: 70%;
				}

				.categ-acciones {
					@include flex-dir-al-jus(flex, x, x, center);
					width: 30%;
					border-left: 1px solid var(--colSec);
				}
			}
			.categ-tabla-listado {
				@include flex-dir-al-jus(flex, row, x, flex-start);
				width: 100%;
				.categ-tabla-nombres {
					@include flex-dir-al-jus(flex, row, x, flex-start);
					padding-left: 15px;
					width: 70%;
				}
				.categ-tabla-iconos {
					@include flex-dir-al-jus(flex, row, x, center);
					width: 30%;
					gap: 20px;
					border-left: 1px solid var(--colSec);
				}
			}
		}
	}
}
