/*====================================================================*/
/*--------------------------  << HOME  >>  ---------------------------*/
body {
	background-color: var(--colFondoMain);
	min-height: 100%;
	font-family: "Montserrat";
	@extend .montserrat-n-n; //_fonts.scss
}

.ocultar {
	display: none;
}
.mostrar {
	display: flex;
}

.tamanio-frase {
	font-size: clamp(1rem, -0.0698rem + 3.0387vw, 1.875rem);
	line-height: 2.25rem;
	@extend .lora-i-n; //_fonts.scss
}

main {
	min-height: calc(100% - 80px - 80px);
	display: flex;
	justify-content: center;

	.cont-main {
		color: var(--colFuente);
		width: 100%;
		max-width: 992px;

		section {
			@include flex-dir-al-jus(x, column, center, center);
			@include caja(var(--colTer), 90%);
			div {
				@include flex-dir-al-jus(flex, column, center, center);
				h2 {
					@extend .lora-i-n; //fonts.scss
				}
				.img-inicio {
					width: 80%;
				}
				.img-balance {
					width: 50%;
				}
				.img-reporte {
					width: 70%;
				}
			}
		}
	}

	/*Categorías-> pages/category.scss*/
}
